<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>영화 PJT</h1>
  <div>
    {% if user.is_authenticated  %}
      <p><a href="{% url "movies:index" %}"> MOVIE </a> <a href="{% url "movies:create" %}"> 영화등록 </a><a href="{% url "accounts:update" %}"> 회원정보수정 </a><a href="{% url "accounts:profile" user.username %}"> 프로필 </a><a href="{% url "accounts:change_password" user.pk %}"> 비밀번호 변경 </a><a href="{% url "accounts:logout" %}"> 로그아웃 </a></p>
    {% else %}
      <p><a href="{% url "movies:index" %}"> MOVIE </a><a href="{% url "accounts:signup" %}"> 회원가입 </a><a href="{% url "accounts:login" %}"> 로그인 </a></p>
    {% endif %}
  </div>
  {% block content %}
  {% endblock content %}
</body>
</html>
